<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  
  <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:wght@700&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
  <title>YourAnimeList</title>
</head>
<body>
  <header>
    <div class="div-header">
      <img class="img-header-1" src="./Assets/cloud.png" alt="Imagem Akatsuki">
      <h1 class="h1-header"><span class="span-header">Your</span> Anime <span class="span-header">List</span></h1>
      <img class="img-header-2" src="./Assets/cloud.png" alt="Imagem Akatsuki invertida">
    </div>

    <div class="div-text-header ">
      <span style="color: white;">Seus Favoritos<span class="material-icons md-48 star">star_rate</span></span>
    </div>
  </header>

  <style>
    
    .swiper-container {
      width: 100%;
      padding-top: 50px;
      padding-bottom: 50px;
    }

    .swiper-slide {
      background-position: center;
      background-size: cover;
      width: 300px;
      height: 300px;
      background: black;
      -webkit-box-reflect: below 1px
        linear-gradient(transparent, transparent, #0006);
    }

    
    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
      display: inline-block;
      border-radius: 50%;
      background: rgb(248 245 245);
      opacity: .2;
    }

    .swiper-pagination-bullet-active {
      opacity: 1;
      background: rgb(180,20,20);
    }

    @media (max-width: 576px) { 
      .div-text-header .material-icons.md-48 {
        font-size: 35px;
      }
      .anime-favorite .material-icons.md-48 {
        font-size: 48px;
      }

      .swiper-slide {
        width: 250px;
        height: 250px;
      }
    }
    

  </style>

  <main>




    <%if(body.length == 0) {%>
      <div class="content-nolist" style="margin-top: 150px;">
        <h1>Sem nenhum favorito :(</h1>
      </div>
    <%} else {%>
      <div class="content">
        <div class="swiper-container">
          <div class="swiper-wrapper">
            <%for(let i = 0; i<body.length; i++) {%>
              <div class="swiper-slide">
                <div class="anime-favorite"  style="background-image: url('<%=body[i].image%>')">
                    <span class="material-icons md-48 favorite-star">star_rate</span>
                    <h1><%=body[i].title%></h1>
                </div>
              </div>
            <%}%>
          </div>
        <div class="swiper-pagination"></div>
        </div>
      </div>
    <%}%>
  </main>
  
  <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  <script>
    /*
      <div class="anime-favorite" id="<=body[i]._id>" style="background-image: url('<=body[i].image>')">
          <div class="image-anime-favorite">
            <span class="material-icons md-48 favorite-star">star_rate</span>
          </div>
          <div class="content-anime-favorite">
            <h1><=body[i].title></h1>
          </div> 
        </div>
    */
    var swiper = new Swiper('.swiper-container', {
      effect: 'coverflow',
      grabCursor: true,
      centeredSlides: true,
      slidesPerView: 'auto',
      coverflowEffect: {
        rotate: 20,
        stretch: 0,
        depth: 100,
        modifier: 1,
        slideShadows: true,
      },
      pagination: {
        el: '.swiper-pagination',
      },
      loop: false,
      
    });
  </script>
</body>
</html>